@mixin tablet {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  background-color: white;

  @include desktop {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0;
  }

  h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;

    @include tablet {
      font-size: 2.4rem;
    }

    @include desktop {
      padding-left: 20px;
      height: 100%;
      margin: 0;
      line-height: 80px;
    }
  }

  nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
    color: #333;

    @include tablet {
      justify-content: space-between;
      padding: 10px;
    }

    @include desktop {
      gap: 20px;
    }
  }
}
