@mixin tablet {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

main {
  padding-top: 120px;

  h2 {
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;

    @include tablet {
      margin-top: 45px;
    }
  }

  h3 {
    margin-top: 15px;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
  }

  .main-item {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
    gap: 20px;
    padding: 20px;

    @include tablet {
      grid-template-columns: repeat(2, 250px);
      padding: 30px;
      column-gap: 60px;
    }

    @include desktop {
      margin-top: 40px;
      grid-template-columns: repeat(4, 250px);
    }

    .circle {
      aspect-ratio: 1/1;
      color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bold;

      &:nth-child(1) {
        background-color: indianred;
      }
      &:nth-child(2) {
        background-color: navy;
      }
      &:nth-child(3) {
        background-color: cadetblue;
      }
      &:nth-child(4) {
        background-color: coral;
      }
    }
  }
}
