h2 {
  padding-top: 20px;
}
.container {
  display: flex;
  gap: 10px;
  border: 1px solid #eee;
  padding: 50px;
}
.box {
  width: 140px;
  height: 140px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.2rem;
}
.transition {
  background-color: crimson;
}
.transition:hover {
  background-color: rgb(10, 124, 54);
  color: yellow;
}
.scale {
  transform: scale(1);
  background-color: coral;
}
.scale:hover {
  transform: scale(1.2);
}
.rotate {
  background-color: indigo;
}
.rotate:hover {
  transform: rotate(15deg);
}
.translatex {
  background-color: cornflowerblue;
}
.translatex:hover {
  transform: translateX(20px);
}
.translatey {
  background-color: blueviolet;
}
.translatey:hover {
  transform: translateY(20px);
}
.skewx {
  background-color: darkorange;
}
.skewx:hover {
  transform: skewX(15deg);
}
.skewy {
  background-color: orangered;
}
.skewy:hover {
  transform: skewY(15deg);
}
.once {
  background-color: olivedrab;
}
.once:hover {
  animation: bounce 1s ease-in-out;
}
.loop {
  background-color: maroon;
  animation: bounce 1s ease-in-out infinite;
}
.pause {
  background-color: black;
  animation: bounce 1s ease-in-out infinite;
}
.pause:hover {
  animation-play-state: paused;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(0);
  }
  55% {
    transform: translateY(-14px);
  }
  70% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.perspective {
  perspective: 200px;
}
.p-3d {
  background-color: midnightblue;
  transform-style: preserve-3d;
}
.p-3d:hover {
  transform: rotateY(180deg);
}
