* {
  box-sizing: border-box;
}
body {
  height: 70vw;
  background: linear-gradient(135deg, #ff8a00, rgb(255, 96, 68), #ff3d6e);
}
.box {
  width: 280px;
  height: 360px;
  margin: auto;
  margin-top: 30px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
.image {
  width: 120px;
  height: 120px;
  margin: auto;
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 50%;
  background-image: url(../../01-html/assets/hui.png);
  background-size: contain;
  background-position: center;
}
.text {
  width: 300px;
  margin-top: 30px;
  margin-left: -10px;
  color: white;
  text-align: center;
  line-height: 10px;
}
.name {
  font-size: 28px;
  font-weight: bold;
}
.desc {
  margin-bottom: 20px;
  font-size: 14px;
}
.btn {
  width: 230px;
  height: 40px;
  margin-left: 25px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.github:hover {
  background-color: rgb(226, 226, 226);
  color: black;
}
.github {
  background-color: white;
  color: black;
}
.insta {
  background-color: rgb(0, 0, 0, 0);
  border: 1.5px solid white;
  color: white;
}
