* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head1 {
  height: 100vh;
  background-color: rgb(211, 31, 136);
}
.head2 {
  height: 100vh;
  background-color: rgb(71, 33, 160);
}
.head3 {
  height: 100vh;
  background-color: rgb(15, 153, 61);
}
.name {
  color: white;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 20px;
}
.bio {
  width: 600px;
  color: white;
  text-align: center;
  font-size: smaller;
  position: relative;
  left: 320px;
}
.header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 40px;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: end;
  padding: 15px;
  font-size: 12px;
}
.logo {
  position: absolute;
  left: 15px;
  font-weight: bold;
  font-size: 16px;
}
.section {
  text-decoration: none;
  color: black;
}
.top {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
