/*
:root {
  --main-color: #5d17ff;
  --text-color: white;
  --border-size: 5px;
}
button {
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: var(--border-size);
  border: none;
}
*/
//SCSS 변수
$main-color: #5d17ff;
$text-color: white;
$border-size: 5px;
button {
  background-color: $main-color;
  color: $text-color;
  border-radius: $border-size;
  border: none;
}
