/*
nav {
  background-color: #333;
  padding: 15px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}
nav ul li {
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li:hover {
  background-color: cadetblue;
}
nav ul li a:hover {
  color: white;
}
nav ul li .middle {
  background-color: coral;
}
*/

nav {
  background-color: #333;
  padding: 15px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;

    li {
      background-color: white;
      padding: 5px 10px;
      border-radius: 5px;

      a {
        text-decoration: none;
        color: black;
      }
      a:hover {
        color: white;
      }
      .middle {
        background-color: coral;
      }
    }
    li:hover {
      background-color: cadetblue;
    }
  }
}
