* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin-left: 350px;
}
p {
  font-size: 33px;
  line-height: 1.6;
  padding-top: 20px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 350px;
  display: flex;
  background: url(./bg.jpg) no-repeat center/cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 0;
}
.sidebar::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.sidebar > * {
  z-index: 1;
}
.logo {
  font-weight: bold;
  text-decoration: underline;
  font-size: 60px;
  position: absolute;
  top: 50px;
}
.menu {
  font-size: 28px;
  margin-bottom: 40px;
  font-weight: normal;
}
.title {
  font-size: 60px;
  margin-top: 0;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 8 / 5;
  background: url(./content.jpg) no-repeat center/cover;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
.card h1 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 22px;
}
.card {
  color: white;
  background-color: #575757;
  border-radius: 10px;
  padding: 20px;
}
.content {
  flex: 1;
  padding: 20px;
}
