.btn {
  box-sizing: border-box;
  border: 2px solid #333;
  font-size: 1rem;
  background-color: #333;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  line-height: 1.3;
  transition: all 1.2s;
}
.btn:hover {
  transform: translateY(-2px);
}
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
}
.btn--red {
  background-color: indianred;
  border-color: indianred;
}
.btn--blue {
  background-color: dodgerblue;
  border-color: dodgerblue;
}
.btn--ghost {
  background-color: transparent;
  border: 2px dashed #999;
  color: #999;
}
