body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

#date {
  font-size: 22pt;
  font-weight: bold;
}

#time {
  font-size: 40pt;
  font-weight: bold;
}

#leftTime {
  font-size: 22pt;
  font-weight: bold;
  margin-bottom: 10px;
}

.quote {
  font-size: 16pt;
}
