* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #444;
  font-size: 14px;
}

.container {
  padding: 50px;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 15px;
  text-align: center;
  width: 600px;
  height: 800px;
}

.container h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 500px;
  height: 3rem;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding-left: 15px;
  font: #aaa;
  font-size: 16px;
}

.btn {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

button {
  border: none;
  border-radius: 10px;
  width: 20em;
  height: 50px;
  cursor: pointer;
}

#reg {
  background-color: #444;
  color: white;
}
#reg:hover {
  background-color: #333;
}

#cancel:hover {
  background-color: #e2e2e2;
}
